In [1]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [8]:
import pandas as pd
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [11]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [18]:
names = ['a', 'b', 'c', 'd', 'message']
df = pd.read_csv('examples/ex2.csv', names=names, index_col=['a','b'])

In [23]:
df

       c   d message
a b
1 2    3   4   hello
5 6    7   8   world
9 10  11  12     foo

In [24]:
df.loc[1,2]

c              3
d              4
message    hello
Name: (1, 2), dtype: object

In [25]:
df.iloc(0)

In [27]:
df.index

MultiIndex([(1,  2),
            (5,  6),
            (9, 10)],
           names=['a', 'b'])